@import "../../styles/constants.scss";
@import "../../styles/mixin.scss";
@import "../../styles/functions.scss";
.textarea {
  font-family: Dosis;
  font-style: normal;
  font-weight: 500;
  font-size: rem(16);
  line-height: 130%;
  padding-top: rem(16);
  padding-bottom: rem(16);
  padding-right: rem(16);
  border-bottom: rem(2) solid $grayColor90;
  width: 100%;
  resize: none;
  &::placeholder {
    color: $grayColor600;
  }
}
