@import "../../styles/constants.scss";
@import "../../styles/functions.scss";
@import "../../styles/mixin.scss";

.accordion-item {
  background-color: $grayColor90;

  @include adaptive-value("border-radius", 30, 20, $xxs);
  @include adaptive-value("margin-bottom", 30, 20, $xxs);
  &__button {
    padding-top: rem(20);
    padding-bottom: rem(20);
    @include adaptive-value("padding-left", 40, 20, $xxs);
    @include adaptive-value("padding-right", 40, 20, $xxs);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    font-style: normal;
    font-weight: 600;
    @include adaptive-value("font-size", 26, 20, $xxs);
    line-height: 120%;
    text-align: left;
  }
  &__icon {
    width: 24px;
    height: 16px;
    transition: $transitionNormal;
    &_active {
      transform: rotateX(180deg);
    }
  }
  &__body {
    max-height: 0;
    overflow: hidden;
    transition: max-height $transitionLight ease-out;
    background-color: $whiteColor;
    box-shadow: 0px rem(6) rem(20) rgba(61, 70, 118, 0.08);
    @include adaptive-value("border-bottom-left-radius", 30, 20, $xxs);
    @include adaptive-value("border-bottom-right-radius", 30, 20, $xxs);

    &._active {
      max-height: 100%;
    }
  }
  &__text {
    font-style: normal;
    font-weight: 500;
    line-height: 155%;
    @include adaptive-value("padding", 40, 20, $xxs);
    @include adaptive-value("font-size", 20, 16, $xxs);
  }
}
