@import "./constants.scss";
@import "./functions.scss";
@import "./mixin.scss";
._container {
  max-width: $maxWidthContainer;
  width: 100%;
  @include adaptive-value("padding-left", 16, 10, 0);
  @include adaptive-value("padding-right", 16, 10, 0);
  margin: 0 auto;
}

._swiper {
  &.swiper {
    padding-top: rem(20);
    padding-bottom: rem(20);
  }
  &._off-overflow.swiper {
    overflow: unset;
  }
  &._auto-width .swiper-slide {
    width: auto;
  }
}
