@import "../../styles/constants.scss";
@import "../../styles/functions.scss";
@import "../../styles/mixin.scss";

.other-development-section {
  @include adaptive-value("margin-top", 240, 100, $xxs);
  @include adaptive-value("margin-bottom", 240, 100, $xxs);
  &__container {
  }
  &__title {
    font-family: "Lifehack Sans";
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    @include adaptive-value("font-size", 104, 48, $xxs);
  }
  &__subtitle {
    font-style: normal;
    font-weight: 500;
    line-height: 155%;
    text-align: center;
    @include adaptive-value("font-size", 20, 16, $xxs);
    @include adaptive-value("margin-top", 30, 20, $xxs);
  }
  &__body {
    @media (min-width: ($s+1px)) {
      display: flex;
      align-items: center;
    }
  }
  &__swiper {
    @include adaptive-value("padding-top", 30, 15, $xxs);
    @include adaptive-value("padding-right", 70, 0, $xxs);
    @include adaptive-value("padding-bottom", 70, 20, $xxs);
    @include adaptive-value("padding-left", 70, 0, $xxs);
  }
  &__button-left {
    svg {
      transform: rotate(180deg);
    }
    &_desctop {
      @media (max-width: ($s+1px)) {
        display: none;
      }
    }
  }
  &__button-right {
    &_desctop {
      @media (max-width: ($s+1px)) {
        display: none;
      }
    }
  }
  &__pagination {
  }
  &__pagination-total {
  }
  &__pagination-current {
  }
}
