@import "../../styles/functions.scss";
@import "../../styles/mixin.scss";
.view-button {
  background: $whiteColor;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 6px 20px rgb(61 70 118 / 8%);
  border-radius: 40px;
  transition: 0.1s;
  color: $blueColor600;
  &:disabled,
  &[disabled] {
    background: $grayColor300;
    color: $whiteColor;
    pointer-events: none;
    .view-button__icon {
      fill: $whiteColor;
      stroke: $whiteColor;
    }
  }
  @include adaptive-value("padding-top", 18, 9, $xxs);
  @include adaptive-value("padding-bottom", 18, 9, $xxs);
  @include adaptive-value("padding-left", 30, 16, $xxs);
  @include adaptive-value("padding-right", 40, 30, $xxs);
  &__icon {
    @include adaptive-value("width", 36, 30, $xxs);
    @include adaptive-value("height", 36, 30, $xxs);
    fill: $blueColor300;
    stroke: $blueColor300;
  }
  &__text {
    font-family: Dosis;
    font-style: normal;
    font-weight: 600;
    @include adaptive-value("font-size", 20, 16, $xxs);
    line-height: 120%;
    text-transform: uppercase;
    color: inherit;
    @include adaptive-value("padding-left", 20, 14, $xxs);
  }
  &:active {
    transform: scale(0.97);
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
  }
}
